label{
    display: block;
}
.scrollsites{
    background-color: #f2f2f2;
    border: solid thin gray;
}
.scrollCheckbox {

    background-color: #f2f2f2;
    overflow-y: auto;
    max-height: 200px;
    padding: 5px;
}

.mSelect {
    padding-left: 0px;
    padding-right: 0px;
}

.buttongroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoGlyph{
    color: #2a5171;
}

#infoGlyph:hover{
    color: #638de2;
}

#measurementSelect {
    height: 41px;
}