html,
body,
#map{
	padding: 0;
	margin: 0;
}

#map{
	height: 500px;
}

#legend{
	top: 80px;
	left: 80px;
	position: absolute;
	z-index: 99;
	border-radius: 8px;
	border: 2px solid gray;
	color: rgb(48, 48, 48);
	background: rgba(255,255,255,.65);
	padding: 5px;
	font-size: 10pt;
}

.color-box{
	width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    left: 5px;
    top: 5px;
}

#main{
	padding: 15px;
}

textarea{
    width: 100%;
    resize: both;
    overflow: hidden;
}

/*control display of popup box for ArcGIS map*/
.esri-icon-dock-right{
	display: none !important;
}

.esri-popup__feature-menu-button{
	display: none !important;
}

.esri-popup__pagination-previous{
	display: none !important;
}

.esri-popup__pagination-next{
	display: none !important;
}

.btn-basic{
    background-color: #2a5171;
    border: medium solid #2a5171;
    color: white;
}

.btn-basic:hover{
    background-color: #8eceff;
    text-shadow: 1px 1px 3px black;
    color:black;
}

.btn-basic:active{
    background-color: #dddddd;
    border: medium solid #77b0d9;
    color: black;
}

.btn-basic:disabled:hover{
    background-color: #2a5171;
    border-color: #2a5171;
    text-shadow: none;
    color: white;
    cursor: auto;
}

.btn-close{
    background-color: #868E96;
    border: medium solid #868E96;
    color: white;
}

.btn-close:hover{
    background-color: #d4d8db;
    text-shadow: 1px 1px 3px black;
    color:black;
}

.btn-close:active{
    background-color: #dddddd;
    border: medium solid #77b0d9;
    color: black;
}

.btn-close:disabled:hover{
    background-color: #2a5171;
    border-color: #2a5171;
    text-shadow: none;
    color: white;
    cursor: auto;
}

.inputHide{
    background-color: #bdbdbd;
    min-width: 90px;
    white-space: pre;
}

.btn-thin{
    margin:0 auto;
    padding-top:1px;
    padding-bottom:1px;
    height:26px;
}

.btn-thin:hover{
    border-color: rgb(57, 156, 255);
}

.comment:hover {
    color: #00F;
    cursor: pointer;
}

.delete:hover {
    color: #FF0000;
    cursor: pointer;
}

.panel-heading .colpsible-panel:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";    
    float: right;        
    color: #408080;         
}
.panel-heading .colpsible-panel.collapsed:after {
    content: "\e080"; 
}

.collapsible-panel:before{
	content: '\2212';
	font-size: 36px;
	float: right;
}
.collapsible-panel.collapsed:before{
	content: "\002B";
	font-size: 36px;	
	float: right;
}

#tetris {
	margin: 1em auto;
	padding: 1em;
	border: 4px solid black;
	border-radius: 10px;
	background-color: #F8F8F8;
}
#canvas {
	display: inline-block;
	vertical-align: top;
	box-shadow: 10px 10px 10px #999;
	border: 2px solid #333;
}
#menu {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#menu p {
	margin: 0.5em 0;
	text-align: center;
}
#menu p a {
	text-decoration: none;
	color: black;
}
#upcoming {
	display: block;
	margin: 0 auto;
	background-color: #E0E0E0;
}
#score {
	color: red;
	font-weight: bold;
	vertical-align: middle;
}
#rows {
	color: blue;
	font-weight: bold;
	vertical-align: middle;
}
#menu {
	width: 200px;
	height: 400px;
}
#upcoming {
	width: 100px;
	height: 100px;
}
#canvas {
	width: 200px;
	height: 400px;
}

/*sidebar stuff*/
.sidebarContainer {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.sidebarToggle{
	float: left;
	background-color: #5085A5;
	padding: 5px;
	border-radius: 0px 10px 10px 0px;
	writing-mode: vertical-lr;
	text-orientation: upright;
}

#sidebarInner{
	height: 100%;
	width: 0;
	float: left;
	background-color: #5085A5;
	color: #F7F9FB;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#sidebarToggleLabel{
	color: #F7F9FB;
}

#searchBox{
	overflow-y: auto;
}

.select2-selection__choice{
	color: black;
}

.select:focus, .date-picker:focus{
    transition: .1s;
    outline: solid #2a5171;
}

/*Table Stuff*/
table{
    border: thin solid #FFF;
	background: #FFF;
	border-collapse: collapse;
	width: 100%; 
}
td,
th{ 
	padding: 4px; 
	border: 1px solid #CCC;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}
th{
	background-color: #e2f0f5; 
	font-weight: 400;
}

#tableDiv{
	text-align: center;
	overflow: auto;
}

/*datepicker stuff*/
#startDate, #endDate{
    font-size: 12pt;
    height: 38px;
}

#startDate:focus, #endDate:focus{
    transition: .1s;
    outline: solid #2a5171;
}

.datepicker{
    border: solid medium #2a5171;
    background-color: #f4f6fa;
}

#buttonGroup{
	margin-top: 30px;
	font-size: 17px;
	text-align: center;
}