/*
    For login and register pages
*/

.errorMessage{
    color: #a30000;
    text-align: center;
}

.requiredText{
    font-style: italic;
    font-weight: bolder;
    color: #2a5171;
}

.label-reg, .label-login{
    font-size: 11pt;
}

.lol{
    margin-top: 9px;
}

.label-reg{
    text-align: right;
}

.textinput{
    border: none;
}

.textinput:focus{
    transition: .1s;
    outline: solid #2a5171;
}

.select:focus{
    transition: .1s;
    outline: solid #2a5171;
}

.modalinput:focus{
    transition: .1s;
    outline: solid #2a5171;
}
/*
    Login page Only
*/

#sjrwiImg, #ercImg{
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 120px;
}

#wqisInfo{
    text-align: justify;
}

.card{
    background-color:#f4f6fa;
    border: solid medium #2a5171;
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify;
}

/*#createAccountBtn{
    background-color: #1fa83d;
    border: medium solid #1fa83d;
    color: white;
}

#createAccountBtn:hover{
    background-color: #5cf77e;
    text-shadow: 1px 1px 3px black;
}

#createAccountBtn:active{
    background-color: #dddddd;
    border: medium solid #77b0d9;
    color: black;
}*/

/*
    Popovers
*/

.popover{
    border: solid medium #2a5171;
    font-size: 10pt;
}
