table{
    border: thin solid #FFF;
}
#infoGlyph{
    color: #2a5171;
}
#infoGlyph:hover{
    color: #638de2;
}
.inputHide{
    background-color: #bdbdbd;
    min-width: 90px;
    white-space: pre;
}
.btn-thin{
    margin:0 auto;
    padding-top:1px;
    padding-bottom:1px;
    height:26px;
}
.btn-thin:hover{
    border-color: rgb(57, 156, 255);
}