body{
    background-color: #8FC1E3;
    background-size:100% 100%;
    background-repeat: no-repeat;
    color:#373737;
    background-attachment: fixed;
}

.content{
    background-color: #8FC1E3;
    margin-bottom: 10%;
}

.centeredText{
    text-align:center;
    position:relative;
}

.btn{
    cursor: pointer;
}

::selection{
    background: #8eceff;
    color: black;
}

.btn-basic{
    background-color: #2a5171;
    border: medium solid #2a5171;
    color: white;
}

.btn-basic:hover{
    text-shadow: 1px 1px 3px black;
    color:black;
}

.btn-basic:active{
    background-color: #dddddd;
    border: medium solid #77b0d9;
    color: black;
}

.btn-basic:disabled:hover{
    background-color: #2a5171;
    border-color: #2a5171;
    text-shadow: none;
    color: white;
    cursor: auto;
}

.nav-link{
	color: #F7F9FB;
}

.nav-link:hover{
	color: lightgrey;
}