@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js);

body{
    background-image: url("../img/riverPic.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    color:#373737;
    background-attachment: fixed;
}

.active{
    color:#a3e8a6;
}

.content {
    background-color: #DDDDDD;
    background-size: 100% 100%;
    margin-bottom: 10%;
    overflow-x: auto;
    box-shadow:3px 3px 3px black;
}

.centeredText{
    text-align:center;
    position:relative;
}

.navbar{
    background-color:lightgrey;
}

.btn{
    cursor: pointer;
}

::selection{
    background: #8eceff;
    color: black;
}

.btn-basic{
    background-color: #2a5171;
    border: medium solid #2a5171;
    color: white;
}

.btn-basic:hover{
    text-shadow: 1px 1px 3px black;
    color:black;
}

.btn-basic:active{
    background-color: #dddddd;
    border: medium solid #77b0d9;
    color: black;
}

.btn-basic:disabled:hover{
    background-color: #2a5171;
    border-color: #2a5171;
    text-shadow: none;
    color: white;
    cursor: auto;
}