p{
    text-align:center;
}
div.ctooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    background-color: beige;
    border: solid thick #6e7393;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}
/*Leave svg alone unless absolutely necessary*/
svg{
}

.chart{
}
.line{
	fill: none;
}
.chartBox{

    max-width: 100%;
    overflow-x: auto;
}

.SVGContainer{
    height: 0;
    padding-top: 48%;
    position: relative;
}

.iframeResponsive{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}*/

.chartBox div{
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exampleImg{
    align-content:center;
    height:500px;
    width:500px;
}
.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

#dashboard {
    width: 320px;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}